     /* ++++++++TOTAL+++++++++ */
.container{
      padding: 0 15px;
}
@media screen and (max-width: 768px){
    .menu{
            display: none;
    }
    .index-connection{
            display: none;
    }
    }
@media screen and (min-width: 480px){
.container{
    margin: 0 auto;
    width: 458px;}
}
@media screen and (min-width: 768px){
.container{
    margin: 0 auto;
    width: 768px}
}
@media screen and (min-width: 1200px){
    .container{
        margin: 0 auto;
        width: 1158px}
    }
/* ++++++++++++++++++++++++GENERAL+++++++++++++++ */
:root{
    --accent-color:#434455;
    --web-name-color:#2e2f42;
    --hover-back-graund: #404BBF;
    --logo-footer-portfolio: #4d5ae5 ;
    --transition:250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    body{
        font-family: "Roboto",sans-serif;
        color:var(--accent-color);
        background-color:#FFFFFF;
        font-style: normal;
        transition:color var(--transition), background-color var(--transition), box-shadow var(--transition), border-color var(--transition) ;
       }
    button{
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }
    address{
     font-style: normal;  
    
    
    }
    .list{ 
        list-style: none;
        display: flex;
        gap: 24px; 
    }
    .link{
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6, p { 
      
        margin: 0;
    }
    ul, ol 
    { 
         list-style: none;
         margin: 0;
         padding: 0;
    }
    img { 
        display: block;
        max-width: 100%;
        height: auto;
    }
    a{
        text-decoration: none;
    }
    
    .achivement-container{
        display: flex;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        align-items: center; 
        justify-content: center;
        margin-bottom: 8px;
    }
    
    .wrapper{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inherit(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    
    }  
    
/* +++++++++++++++HEAD+++++++++++++++++++++ */
.hero-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-head{
    padding-top: 25.5px;
    padding-bottom: 23.5px;
}
.mobile-menu-btn{
    /* background: transparent; */
    border: none;
    padding: 0;
    line-height: 0;
}
.body-logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color:#4d5ae5; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    padding: 24px 0;
    margin-right: 76px;
}
.body-web-name{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17x;
    color: #2E2F42;
       
}
/* +++++++++++++++++++++++++/HEAD+++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++MOBILE MENU+++++++++++++++++++++++++ */
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.mobile-menu-close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: background-color var(--transition), border var(--transition) ;
}
.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-close-button-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .hero-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* +++++++++++++++++++++++++/MOBILE MENU+++++++++++++++++++++++++ */