/* скидання установок браузера */

:root{
--accent-color:#434455;
--web-name-color:#2e2f42;
--hover-back-graund: #404BBF;
--logo-footer-portfolio: #4d5ae5 ;
--transition:250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
body{
    font-family: "Roboto",sans-serif;
    color:var(--accent-color);
    background-color:#FFFFFF;
    font-style: normal;
    transition:color var(--transition), background-color var(--transition), box-shadow var(--transition), border-color var(--transition) ;
   }
button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
address{
 font-style: normal;  


}
.list{
    list-style: none;
    display: flex;
    gap: 24px; 
  
}
.link{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p { 
  
    margin: 0;
}
ul, ol { 
 
   list-style: none;
    margin: 0;
    padding: 0; }
img { 
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;

}

.container{
    margin: 0 auto;
    padding: 0 15px;
      width: 1158px
}
.achivement-container{
    display: flex;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    align-items: center; 
    justify-content: center;
    margin-bottom: 8px;
}

.wrapper{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inherit(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/*------ALL------- */
.achivement{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 120px 0;
    }
.achivement-container{
    display: flex;
align-items: center; 
justify-content: center;
}

.body-logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color:#4d5ae5;
      
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    display: inline-block;
    
    padding: 24px 0;
    margin-right: 76px;
}
.body-nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-decoration: none;

    padding: 29px 0;
    transition: color var(--transition);
}

.body-nav-link:hover,
.body-nav-link:focus{
    color: #404bbf;
}
.body-web-name{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17x;
    color: #2E2F42;
       
}
.btn{
    font-family: "Roboto", sans-serif;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color:#F4F4FD;
    margin: 0 auto;
    display: block;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;   
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
      }
.btn:hover,
.btn:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF ;
    background-color: #4D5AE5;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px; 
    padding: 16px 32px;
    transition: background-color var(--transition) ;
}
.button:hover,
.button:focus{
        color: #FFFFFF ;
         background-color: #404BBF;
}
.conclusion{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    }

.connection{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
    
}
.connection-portfolio{
    gap: 40px;
}
.curent{
    position: relative;
    color:    rgba(64, 75, 191, 1);
}
.curent::after {
    content: "";
    position: absolute;
    left: 0;
width: 100%;
height: 4px;
bottom: -1px;

background-color: #404BBF;
border-radius: 2px;
}
.curent-portfolio{
    position: relative;
    color:    rgba(64, 75, 191, 1);
}
.curent-portfolio::after {
    content: "";
    position: absolute;
    left: 0;
width: 100%;
height: 4px;
bottom: -1px;

background-color: #404BBF;
border-radius: 2px;
}
.customers{
    font-weight: 700;
font-size: 36px;
line-height: 1.1;
margin-bottom: 72px; 
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;

}

.customers-list-icon{
    fill: currentColor; 
}
.customers-list-item{
    width: calc((100% - 120px) / 6);
    height :88px;
    /* transition: border-color var(--transition), color var(--transition); */
}

.customers-list-link{
    border: 1px solid #8E8F99;
border-radius: 4px;
display: flex;
align-items: center; 
justify-content: center;
color: #8e8f99;
height: 100%;
transition: border-color var(--transition), color var(--transition) ;

}
.customers-list-link:hover,
.customers-list-link:focus{
    color: #404bbf; 
    border-color: #404bbf; 
    transform: translateY(0%);
}

.customers-section{
    padding-top: 120px; 
    padding-bottom: 120px;
}
.descuption{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.employee{ 
    background: #F4F4FD; 
    padding: 120px 0;
    
}
.footer{
    display: flex;
    background-color:#2e2f42 ; 
    padding: 100px 0;
   
}

.footer-container{
    display: flex;
    align-items: baseline;

}
.features{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: flex;
    gap: 24px;
    margin-bottom: 8px;     
}
.features-portfolio{
    display: flex;
       align-items: center;
}
.features-portfolio-menu{
    position: relative;
    color: #404bbf; ;
}
.hero-navigation{

    display: flex;
    align-items: center;
}

.img{
    flex-wrap: wrap; 
    row-gap: 48px;
    display: flex;
    justify-content: space-between;
}
.index-connection{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.information{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.list-button{
    justify-content: center; 
    margin-bottom: 72px; 
    /* position: relative; */
}
.list-features{
    width: calc((100% - 72px) / 4); 
}
.list-index-connection{ 
    display: flex;
     gap: 40px;
}
.list-products{
      padding-bottom: 120px; 
}
 .logo {     
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--logo-footer-portfolio);

    
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: flex;
    padding: 24px 0;
    margin-right: 76px;

 }
 .logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color:#4d5ae5;
      align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    display: inline-block;
    margin-bottom: 16px;
     /* padding: 24px 0; */
    margin-right: 76px;}
    
.logo-footer-conclusion{
    margin-right: 120px;

}
.mail{
    font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color var(--transition);
   
}
.mail:hover,
.mail:focus{
  color: #404bbf;
}
.mail-index{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  color: #434455;
  transition: color var(--transition);
  }
.mail-index:hover, 
.mail-index:focus{
      color: #404bbf; 
}
.main-head{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.main-section{ 
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/people-office.jpg);
    background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  max-width: 1440px; 
  height: 600px;
  margin: auto;
    } 
.main-title{
    margin: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07 ;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff ;
    max-width: 496px; 
    margin-bottom: 48px;
    }
.menu{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex; 
    gap: 40px;
    padding: 24px 0;
}
.menu-body-nav-link{
    position: relative;
    color: #404bbf; 
}
.menu:not(:last-child){
    margin: 40px;
}
.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
      
}
.name-job{
 
    padding: 32px 0
}
.navigation{
    display: flex; 
    align-items: center; 
    margin-right: auto;
}
.nav-link{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-decoration: none;
    padding: 29px 0;
    transition: color var(--transition);
    }
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
    }

.overlay{
     position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    color:#F4F4FD;
    background: rgba(77, 90, 229, 1);
        padding: 40px 32px;
       width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-products{
    width: calc((100% - 48px) / 3);
}
.photo{
    calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF ;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
 }
.products{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;  
}
.section-buttons{
    padding: 96px 0 120px;
}
.social-media{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}
.social-list{
    display: flex;
      justify-content: center;
    gap: 24px;  
}
.social-list-footer{
    display: flex;
    gap: 16px;
    justify-content: center;     
}
.social-list-item{
    width: 40px;
    height: 40px; 
}
.social-list-icon{
   fill: #f4f4fd;
}
.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 50%;
    background: #4D5AE5;
    width: 100%;
    height: 100%;   
    transition: background-color var(--transition);   
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: #404bbf;
}
.social-list-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4D5AE5;
    margin: auto;
    gap: 16px;
    transition: background-color var(--transition);       
}
.social-list-link-footer:hover,
.social-list-link-footer:focus{
    background-color: #31d0aa; 
}
.social-media{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.task{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
.total-information{
        width: calc((100% - 48px) / 3);
    }
.total-information-link{
    position: relative;
    display: block;
    transition:box-shadow var(--transition) ;
}
.total-information-link:hover .overlay,
.total-information-link:focus .overlay{
    transform: translateY(0%);
}
.total-information-link:hover,
.total-information-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.total-information-link:hover .total-information-list
.total-information-link:focus .total-information-list{
    transform: translateY(0%)
}

.total-information-list{
position: relative;
overflow: hidden;
}
.web-name{
    color:var(--web-name-color)
}
.web-name-footer{
    color: #f4f4fd ;
}
.web-name-portfolio{
    color: #f4f4fd;
}
.whom{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

/* ===============BACKDROP============ */
.backdrop{
        position: fixed;
    width: 1440px;
    height: 677px;
    /* left: 0px;
    top: 0px; */

    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}
.modal{
    position: absolute;
   height: 584px;
    width: 408px;
left: 50%;
top: 50%;
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px; 
transform: translate(-50%, -50%) scale(1); 
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
background: #FCFCFC;
padding-left: 24px;
padding-right: 24px;
padding-top: 72px;
}
.modal-close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: background-color var(--transition), border var(--transition) ;
}
.modal-close-button:hover,
.modal-close-button:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-close-button-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===============/BACKDROP============ */



/* ===============FORM============ */
.agree-with-policy{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em #4A90E2;
    cursor: pointer;
    fill: transparent;
    white-space: nowrap;
    clip-path: 100%;
   }
.contact-form{
    display: flex;
    flex-direction: column;
}
.contuct-form-btn{
    display: block;
align-items: center;
margin: 0 auto;
margin-top: 24px;
height: 56px;
width: 169px;
left: 635px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}
.contuct-form-btn:hover,
.contuct-form-btn:focus{
     border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.contuct-form-btn-writing{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
}
.contuct-form-checkbox-input{
 display: block; 
 clip: rect(0 0 0 0);
}

.contact-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    padding-left: 38px;
    left: 0;
    top: 18px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color var(--transition);
}
.contact-form-input:focus{
    outline: none;
    border-color: 
    rgba(77, 90, 229, 1);
  }
.contact-form-input:focus +.form-icon{
    outline: none;
    border-color: 
    rgba(77, 90, 229, 1);
    fill:  rgba(77, 90, 229, 1) ;
}
.contuct-form-message{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    left: 0px;
    padding: 15px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color var(--transition);
}
.contuct-form-message:focus{
    outline: none;
    border-color: 
    rgba(77, 90, 229, 1);
}
.contuct-form-message-label{
    margin-bottom: 16px;
}
.form-icon{
position: absolute;
top: 0;
left: 19px;
transform: translateY(100%);
transition: fill var(--transition);
}
.modal-form-checkbox{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    line-height: 1.16; */
    letter-spacing: 0.04em;
    color: #8E8F99;
    font-size: 12px;
}
.label-modal-field{
    margin-bottom: 8px;
}
.contuct-form-checkbox-input:checked + .modal-form-checkbox > .agree-with-policy{
      rgba(77, 90, 229, 1); 
    fill: white;
    border: none;
    background-color: rgba(77, 90, 229, 1) ; 
    background-image: url(../images/Vector.svg);  
}

.modal-form-imput-wrapper{
    display:block ;
    position: relative;
}
.name-form{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
    
}
.privacy-policy{
    text-decoration: underline;
    color: rgba(77, 90, 229, 1);
}
.what-write{
display: block;
margin-bottom: 4px;
font-size: 12px;
line-height: 1.16;
font-weight: 400;
letter-spacing: 0.01em;
color: #8E8F99;
}

/* ===============/FORM============ */

   
   /* ===============FOOTER-FORM============ */
.footer-form-container{
margin-left: auto;
 }
.form-footer{
display: flex;
align-items: baseline;
 justify-content: space-evenly; */
}
.footer-form-input{
    color: white;
    width: 264px;
    height: 40px;
    padding-left:16px ;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
   background-color:transparent;
    transition: border-color var(--transition);  
}
.footer-form-input::placeholder{
    color: #FFFFFF;
    font-weight: 400;
font-size: 12px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
}
 .email-subscribe{
    width: 77px;
    
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
margin-left: 24px;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.form-footer-btn{
 display: flex;
    align-items: center;
    gap: 16px;
    height: 40px;
    width: 165px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
    }
.label-footer{
    margin-right: 24px;
}
 /* ===============/FOOTER-FORM============ */
  














