@media screen and (min-width: 768px){
    .container{
        margin: 0 auto;
        width: 768px}
.navigation{
    display: flex;
    align-items: center;
   }
.hero-navigation{
    width: 100vw;

}
.body-logo{
    align-items: center;
}
.index-connection{
    flex-direction: column;
}
.main-title{
    width: auto;
    height: auto;
}
.list-features-icon{
    display: none;
}
.list{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.list-index-connection{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.mobile-menu-btn{
    display: none;
}
.menu {
    display: none;
}
.menu-toggle{
display: none;
}
.main-title{
width: 320px;
height: 80px;
 }
/* .index-connection{
    flex-direction: column;
} */
    }
.main-section{  
  height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/Dark-bg-tablet.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
.main-section{ 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/Dark-bg@2x-tablet.jpg);}
}
